* {margin: 0;padding: 0;border: 0}

.main {
	font-family: 'Lato', sans-serif;
}
.container {
	max-width: 1600px;
	height: 760px;
	display: inline-block;

	.container__big-pics {
		display: inline-flex;
		justify-content: space-between;
	}

	.container__man {
		width: 799px;
		height: 100%;
	}

	.container__text {
		width: 800px;
		height: 100%;
		background-color: #F1E4E6;
		display: inline-block;
		position: relative;
		left: -2px;

		.container__line {
			height: 92px;
			width: 12px;
			background-color: #F16D7F;
			position: absolute;
			top: 335px;
			left: 64px;
		}

		.container__text-bold {
		 	width: 470px;
		 	height: 94px;
		 	position: absolute;
		 	top: 332px;
		 	left: 92px;
		 	font-family: Lato, sans-serif;

		 	.bold {
				font-size: 48px;
				line-height: 57.6px;
				font-weight: 900px;
			}
			.normal, .red {
				font-size: 38px;
				line-height: 38.4px;
				font-weight: 700px;
			}
			.red {
				color: $color_font;
			}
		}
	}
}

.sm-container {
	height: 2102px;
	width: 1140px;
	margin: 63px 0 0 232px;

	.flex {
		display: flex;
		justify-content: space-between;

		.container__pic-text1 {
			width: $width;
			height: 260px;
			background-image: url(img/girl.jpg);
			background-repeat: no-repeat;
		}

		.container__pic-text2 {
			width: $width;
			height: 260px;
			background-image: url(img/mansm.jpg);
			background-repeat: no-repeat;
		}

		.container__pic-text3 {
			width: $width;
			height: 260px;
			background-image: url(img/child.jpg);
			background-repeat: no-repeat;
		}
		.container__pic-text {
			width: 150px;
			height: 50px;
		    margin: auto;
		    margin-top: 105px;
		    text-align: center;
		}
		
		.span1 {
			font-size: 16px;
			color: #FFFFFF;
			font-weight: 400px;
			line-height: 19px;
		}
		.span2 {
			font-size: 24px;
			color: $color_font;
			font-weight: 900px;
			line-height: 28.8px;
		}		
	}

	.clearfix:after {
		content: "";
	  	display: table;
	  	clear: both;
	}

	.flex2 {
		height: 180px;
		width: 1140px;
		margin-top: 63px;

		.container__pic-text4 {
			height: 180px;
			width: 1140px;
			background-image: url(img/bg4.jpg);
			background-repeat: no-repeat;
			background-size: 100%;
		}

		.container__pic-text5 {
			width: 150px;
			height: 50px;
		    margin: auto;
		    padding: 63px;
		    text-align: center;	
		}
	}

	.container__featured-items {
	    text-align: center;	
	    margin-top: 97px;
	    height: 108px;

	    .span3 {
			font-size: 30px;
			line-height: 36px;
			color: #222222;
			font-weight: 400px;
		}
		.span4 {
			font-size: 14px;
			line-height: 17px;
			color: #9F9F9F;
			font-weight: 400px;
		}
	}


	.six-pics {
		width: 1140px;
		height: 1207px;
		display: flex;
		flex-wrap: wrap;
	  	justify-content: space-between;

		.six-pics__element {
			width: $width;
			height: 581px;
			background-color: #F8F8F8;
		}
		.six-pics__element__picture1 {
			width: $width;
			height: 420px;
			background-image: url(img/1.jpg);
			background-repeat: no-repeat;

			&:hover,
			&:focus,
			&:active {
				background: url(img/1.jpg), rgba(0,0,0,0.4);
				background-blend-mode: color;
			}
		}
		.six-pics__text-price {
			height: 116px;
			width: 328px;
			margin-top: 25px;
			margin-left: 16px;
		}
		.span5 {
			color: #000000;
			font-size: 13px;
			line-height: 16px;
			font-weight: 400px;
		}
		.span6 {
			color: #5D5d5d;
			font-weight: 300;
			font-size: 14px;
			line-height: 17px;
		}
		.span7 {
			color: $color_font;
			font-weight: normal;
			font-size: 16px;
			line-height: 19px;
		}

		.six-pics__element__picture2 {
			width: $width;
			height: 420px;
			background-color: #F7E4E2;
			background-repeat: no-repeat;

			&:hover,
			&:focus,
			&:active {
				background-color: #F7E4E2, rgba(0,0,0,0.4);
				background-blend-mode: color;
			}
		}
		.six-pics__element__picture3 {
			width: $width;
			height: 420px;
			background-image: url(img/3.jpg);
			background-repeat: no-repeat;

			&:hover,
			&:focus,
			&:active {
				background: url(img/3.jpg), rgba(0,0,0,0.4);
				background-blend-mode: color;
			}
		}
		.element__lady {
			margin: 9px 0 0 109px;
		}
		.six-pics__element__picture4 {
			width: $width;
			height: 420px;
			background-image: url(img/4.jpg);
			background-repeat: no-repeat;

			&:hover,
			&:focus,
			&:active {
				background: url(img/4.jpg), rgba(0,0,0,0.4);
				background-blend-mode: color;
			}
		}
		.six-pics__element__picture5 {
			width: $width;
			height: 420px;
			background-image: url(img/5.jpg);
			background-repeat: no-repeat;

			&:hover,
			&:focus,
			&:active {
				background: url(img/5.jpg), rgba(0,0,0,0.4);
				background-blend-mode: color;
			}
		}
		.six-pics__element__picture6 {
			width: $width;
			height: 420px;
			background: url(img/6.jpg);
			background-repeat: no-repeat;

			&:hover,
			&:focus,
			&:active {
				background: url(img/6.jpg), rgba(0,0,0,0.4);
				background-blend-mode: color;
			}
		}
	}

	.brouse-all-products {
		width: 211px;
		height: 47px;	
		border: 1px solid #FF6A6A;
		color: #FF6A6A;
		font-size: 16px;
		font-weight: 400px;			
		line-height: 19px;
		margin-top: 48px;
		margin-left: 41%;

		&:hover,
		&:focus {
			background-color: #F26376;
			color: #ffffff;
		}

		&:active {
			background-color: #F26376;
			border: 1px solid #a34343;
			color: #ffffff;						
		}
	}	
}


.clr {
	height: 527px;
}
.footer {
	max-width: 1600px;
	height: 527px;
	margin-top: -527px;
}

.footer__links {
	background-color: #222224;
	max-width: 1600px;
	height: 341px;

	.footer__container-links {
		width: 1140px;
		height: 134px;
		padding: 103px 0 0 230px;
		display: flex;
		justify-content: space-between;

		.footer__link {
			width: $width;
			height: 134px;
			text-align: center;
			
			.span8 {
				color: #FBFBFB;
				font-weight: normal;
				font-size: 19.96px;
				line-height: 24px;
			}
			.span9 {
				color: #FBFBFB;
				font-weight: 300;
				font-size: 13.972px;
				line-height: 17px;
			}
		}	
	}
}

.footer {

	.footer__subscribe {
		max-width: 1600px;
		height: 448px;
		background: url(img/footer.jpg), rgba(255,255,255,0.7);
		background-blend-mode: color;
		display: flex;

		.footer__photo, .footer__subscribe-mail {
			width: 800px;
			height: 448px;
		}
		.footer__face {
			margin-top: 97px;
			margin-left: 352px;
		}
		.footer_text {
			height: 99px;
			width: 359.5px;
			display: block;
			margin-top: 30px;
			margin-left: 230px;
			font-style: normal;
			font-weight: normal;
			font-size: 20px;
			line-height: 24px;
			text-align: center;
			color: #222224;
		}
		.footer__subscribe-text {
			margin-top: 150px;
			margin-left: 13px;
			text-align: center;
			width: 557px;
		}
		.footer__button-mail {
			margin: 32px 0 0 120px;
		}
		.span10 {
			font-style: normal;
			font-weight: bold;
			font-size: 24px;
			line-height: 40px;
			text-align: center;
		}
		.span11 {
			font-style: normal;
			font-weight: 400px;
			font-size: 18px;
			line-height: 40px;
			text-align: center;
		}
		.footer__email {
			height: 49px;
			width: 302px;
			background-color: #E1E1E1;
			border-top-left-radius: 40px;
			border-bottom-left-radius: 40px;
			padding-left: 20px;
		}
		.footer__button-subscribe {
			height: 49px;
			width: 100px;
			background-color: #F16D7F;
			border-top-right-radius: 40px;
			border-bottom-right-radius: 40px;
			font-style: normal;
			font-weight: normal;
			font-size: 14px;
			line-height: 17px;
			text-align: center;
			color: #FFFFFF;
			margin-left: -80px;
		}	
	}

	.footer__copyright {
		background-color: #222224;
		max-width: 1600px;
		height: 79px;	
		display: flex;	

		.footer__copyright-text {
			margin-top: 30px;
			margin-left: 235px;
			height: 19px;
			width: 987px;
			font-size: 16px;
			line-height: 19px;
			color: #FBFBFB;
		}
		.footer__icons {
			margin-top: 24px;
			margin-right: 230px;
			height: 32px;
			width: 149px;
		}
		.footer__list {
			list-style-type: none;
			display: flex;
			justify-content: space-between;
		}
		.icons__color_white {
			height: 23px;
			width: 23px;
			text-decoration: none;
			background-color: #FFFFFF;
			padding: 9px 0 0 9px;
		}
		.icons__color_red {
			height: 23px;
			width: 23px;
			background-color: #F16D7F;
			padding: 9px 0 0 9px;
		}		
	}

}

